.modal-dialog.modal-full {
    max-width: 100%;
    margin: 30px;
}

.media-input-container {
    position: relative;
    display: inline-block;
    border: 1px solid #dcdcde;
}

.media-input-container img.media-input-preview {
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
}

.media-input-container .input-remove-btn {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 24px;
    height: 24px;
    font-size: 12px;
    border: 1px solid #dcdcde;
    background-color: #fff;
    border-radius: 50%;
}

div#filtered_media {
    max-block-size: 70vh;
    overflow-y: auto;
    margin-block-start: 0px;
    padding: 5px;
}

.media-list ul {
    margin-block-start: 0px;
}

.media-list ul {
    margin-block: 20px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.media-list ul li {
    max-block-size: 133px;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #dcdcde;
    background-color: #f5f5f5;
    cursor: pointer;
}

.media-list ul li.selected {
    -webkit-box-shadow: 0 0 2px 3px #007bff, inset 0 0 0 7px #fff;
    box-shadow: 0 0 2px 3px #007bff, inset 0 0 0 7px #fff;
    border-color: #fff;
}

.media-list ul li.selected .check {
    opacity: 1;
    z-index: 2;
}

.media-list ul li .check {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    z-index: -1;
    opacity: 0;
    border: 2px solid #fff;
}

.media-container{
    height: 75vh;
    max-height: 75vh;
}
.media-preview-sidebar{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin !important;
}
.no-media{
    height: 250px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.no-media img{
    max-width:100px;
    height: auto;
}
.media-form{
    margin-bottom: 10px;
}
.media-form span{
    font-size: 13px;
}
.media-form p{
    font-weight: 700;
    display: block;
    font-size: .875rem;
    margin-bottom: 0px;
}